# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [1]:
odd = [1, 3, 5, 7, 9]

In [7]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [6]:
# 리스트의 인덱싱과 연산
print(b[1] + b[2])
print(c[0] + c[3])
print(c[0] * b[2])

5
Lifeshort
LifeLifeLife

In [9]:
# 리스트의 슬라이싱
a = [11, 22, 33, 44, 55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::2])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[11, 33, 55]

In [11]:
# 예제
# 2, 3 출력
a = [1, 2, 3, 4, 5]
print(a[1:3])

[2, 3]

### 리스트 연산하기

In [37]:
a = [11, 22, 33]
b = [44, 55, 66]

In [36]:
# 리스트 합치기
print(a + b)
# 리스트 반복하기
c = a * 3
print(c)
len(c)

[11, 44, 44, 55, 66]
[11, 44, 11, 44, 11, 44]

6

In [33]:
# 리스트 값 수정하기
a = [11, 22, 33]
a[2] = 44
print(a)
# 아래는 오류 - 없는 요소를 수정하는 것은 에러
# a[3] = 55
# print(a)

[11, 22, 44]

In [34]:
# 리스트 값 삭제하기
# a[1] = ' ' # 값이 삭제되는 게 아니라 빈칸으로 삽입됨
del a[1] 
print(a)
# 리스트 값 슬라이싱으로 삭제
print(c)
del c[:4]
print(c)

[11, 44]
[11, 22, 33, 11, 22, 33, 11, 22, 33]
[22, 33, 11, 22, 33]

### 리스트 관련 함수

In [38]:
#리스트 요소 비우기
print(c)
c.clear()
print(c)

[11, 44, 11, 44, 11, 44]
[]

In [46]:
a=[] # 리스트 초기화

In [45]:
# 리스트 요소 추가하기
a.append(4)
print(a)
a.append([11, 22])
print(a)

[4]
[4, [11, 22]]

In [95]:
b=[]
num = 0

In [103]:
num += 1
b.append(num)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [108]:
# 리스트 정렬(오름차순) - sort
a = [11, 44, 33, 22, 55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [114]:
# 리스트 정렬(내림차순)
a = [11, 44, 33, 22, 55]
a.sort(reverse = True)
print(a)

[55, 44, 33, 22, 11]

In [113]:
# 리스트 정렬 원본 유지하기
aa = [66, 77, 88, 99, 0]
bb = sorted(aa)
cc = sorted(aa, reverse = True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [106]:
# 리스트 뒤집기 - reverse
a = [11, 44, 33, 22, 55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [116]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
result = sorted(fruit, key = len)
result2 = sorted(fruit, key = len, reverse = True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']

In [121]:
for r in result:
    if r == 'banana':
        print(r + ' 못먹겠어')
    if r != 'banana':
        print(r + ' 냠냠 맛있다')
print('와~ 다 먹었다')

kiwi 냠냠 맛있다
pear 냠냠 맛있다
melon 냠냠 맛있다
apple 냠냠 맛있다
banana 못먹겠어
orange 냠냠 맛있다
blueberry 냠냠 맛있다
strawberry 냠냠 맛있다
와~ 다 먹었다

In [1]:
# 인덱스 반환 - index
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
print(fruit.index('melon'))

3

In [129]:
fruit = ['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
want = input('먹고싶은 과일을 입력하세요')
where = fruit.index(want)
print(f"{want}를 좋아하시는군요!! 그것은 {where+1}번 째에 있습니다")

먹고싶은 과일을 입력하세요 orange

orange를 좋아하시는군요!! 그것은 3번 째에 있습니다

In [131]:
# 리스트에 요소 삽입 - insert
num = [11, 22, 33, 55, 66, 77, 88]
print(num)
num.insert(3 ,44)
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [138]:
ex=[] #리스트 초기화

In [143]:
ex.insert(len(ex),44) #숫자 부분 계속 수정해서 추가 가능
print(ex)

[11, 22, 33, 44, 44]

In [1]:
# 리스트 요소제거 - remove