In [ ]:
import mysql.connector

try:
    conn1 = mysql.connector.connect(
        host = "mysql",  # MySQL 서버주소
        user = "root",
        password = "1234"
    )
    conn2 = mysql.connector.connect(
        host = "210.119.14.65",  # MySQL 서버주소
        user = "root",
        password = "1234"
    )
    if conn1.is_connected():
        print("MySQL 서버1에 성공적으로 연결되었습니다.")
    if conn2.is_connected():
        print("MySQL 서버2에 성공적으로 연결되었습니다.")
except mysql.connector.Error as err:
    print("MySQL 연결 실패 : ", err)
finally:
    if all([conn1.is_connected(), conn2.is_connected()]):
        print("연결중...")

In [22]:
# 커서 생성
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
que = "CREATE DATABASE IF NOT EXISTS jmdb"
cursor1.execute(que)
cursor2.execute(que)
conn1.close()
conn2.close()

In [23]:
# MySQL에 연결
conn1 = mysql.connector.connect(
        host = "mysql",
        user = "root",
        password = "1234",
        database = "jmdb"    # 사용할 데이터 베이스
    )
conn2 = mysql.connector.connect(
        host = "mysql",
        user = "root",
        password = "1234",
        database = "jmdb"    # 사용할 데이터 베이스
    )
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
print("MySQL 연결 성공")

MySQL 연결 성공

In [31]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS user(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), age INT, city VARCHAR(50))"
cursor1.execute(query)
cursor2.execute(query)
print("테이블 생성완료")

테이블 생성완료

In [ ]:
# 여러개의 데이터 삽입
sql = "INSERT INTO user (name, age, city) VALUES (%s, %s, %s)"
m_values = [("최우식", 36, "서울"), ("차은우", 29, "서울")]
cursor1.executemany(sql, m_values)
cursor2.executemany(sql, m_values)
conn1.commit()
conn2.commit()
print("여러 개의 데이터 삽입 완료 !")

In [33]:
# 모든 데이터 조회
que = "SELECT * FROM user"
cursor1.execute(que)
users1 = cursor1.fetchall()
cursor2.execute(que)
users2 = cursor2.fetchall()

# print(users)
print("----서버1의 내용----")
for user1 in users1:
    print(user1)
print("----서버2의 내용----")
for user2 in users2:
    print(user2)

----서버1의 내용----
(1, '최우식', 36, '서울')
(2, '차은우', 29, '서울')
(3, '최우식', 36, '서울')
(4, '차은우', 29, '서울')
----서버2의 내용----
(1, '최우식', 36, '서울')
(2, '차은우', 29, '서울')
(3, '최우식', 36, '서울')
(4, '차은우', 29, '서울')

In [13]:
# # 특정 사용자 삭제
# que = "DELETE FROM users"
# cursor1.execute(que, )
# conn1.commit()
# cursor2.execute(que, )
# conn2.commit()
# print("목록을 삭제하였습니다.")